<div style="padding: 1em">
    <div class="row" >
        <div kendo-list-view id="listView"
             k-data-source="source" k-selectable=true>
            <div class="col-sm-4 padrl5 k-block k-info" k-template>
                <div class="">
                    <h4>{{dataItem.Description}}</h4>

                    <small><cite title="PrimaryID">{{dataItem.PrimaryID}}
                    </cite> <cite title="PrimaryID">{{dataItem.Handset}}
                    </cite></small>
                    <small><cite title="PlanName">{{dataItem.Plan}}
                    </cite></small>
                    <small><cite title="Remaining Contract">Renewal in {{dataItem.RemainingContract}}
                    </cite></small>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i>{{dataItem.Status}}

                        <a  class="pull-right" ng-click="viewServiceDetails(dataItem.PrimaryID)">
                            View Details</a>

                </div>


            </div>
        </div>


    </div>
    <div class="row">
        <h3>Balance Summary - Mobile - 431-222-1222</h3>
        <div class="col-sm-4 padrl5">
            <h1>Talk</h1>
            <div   >
                                    <span kendo-radialgauge
                                          k-scale="{ min:0, max: 500}"
                                          ng-model="voiceBalance">

                                    </span>
            </div>
            <div  class="paddbot60 normal collapse in" style="height: auto;">
                <section class="usage">

                    <div class="row"  >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h4 class="type-title">
                                <!--Fuss-703: Usage Buckets for Talk(Anytime)-->
                                <!-- ngIf: (sum.periodGroup == 'Anytime'|| sum.periodGroup == 'Tout Temps') && key === 'talk' -->

                                <span  >WEEKDAY</span>

                            </h4>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Included</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">500
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Used</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">133
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Remaining</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">367
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h4 class="type-title">
                                <!--Fuss-703: Usage Buckets for Talk(Anytime)-->
                                <!-- ngIf: (sum.periodGroup == 'Anytime'|| sum.periodGroup == 'Tout Temps') && key === 'talk' -->

                                <span  >EVENINGS AND WEEKENDS</span>

                            </h4>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Included</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">Unlimited

                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Used</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">122
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>

                    </div>


                </section>



            </div>
        </div>
        <div class="col-sm-4 padrl5">
            <h1>Data</h1>
            <div  >
                                    <span kendo-radialgauge
                                          k-scale="{ min:0, max: 500}"
                                          ng-model="voiceBalance">

                                    </span>
            </div>
            <div  class="paddbot60 normal collapse in" style="height: auto;">
                <section class="usage">

                    <div class="row"  >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h4 class="type-title">
                                <!--Fuss-703: Usage Buckets for Talk(Anytime)-->
                                <!-- ngIf: (sum.periodGroup == 'Anytime'|| sum.periodGroup == 'Tout Temps') && key === 'talk' -->

                                <span  >WEEKDAY</span>

                            </h4>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Included</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">500
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Used</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">133
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Remaining</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">367
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h4 class="type-title">
                                <!--Fuss-703: Usage Buckets for Talk(Anytime)-->
                                <!-- ngIf: (sum.periodGroup == 'Anytime'|| sum.periodGroup == 'Tout Temps') && key === 'talk' -->

                                <span  >EVENINGS AND WEEKENDS</span>

                            </h4>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Included</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">Unlimited

                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Used</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">122
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>

                    </div>


                </section>



            </div>
        </div>

        <div class="col-sm-3 padrl5">
            <h1>Text</h1>
            <div  >
                                    <span kendo-radialgauge
                                          k-scale="{ min:0, max: 500}"
                                          ng-model="voiceBalance">

                                    </span>
            </div>
            <div  class="paddbot60 normal collapse in" style="height: auto;">
                <section class="usage">

                    <div class="row"  >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h4 class="type-title">
                                <!--Fuss-703: Usage Buckets for Talk(Anytime)-->
                                <!-- ngIf: (sum.periodGroup == 'Anytime'|| sum.periodGroup == 'Tout Temps') && key === 'talk' -->

                                <span  >WEEKDAY</span>

                            </h4>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Included</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">500
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Used</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">133
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Remaining</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">367
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row"  >
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <h4 class="type-title">
                                <!--Fuss-703: Usage Buckets for Talk(Anytime)-->
                                <!-- ngIf: (sum.periodGroup == 'Anytime'|| sum.periodGroup == 'Tout Temps') && key === 'talk' -->

                                <span  >EVENINGS AND WEEKENDS</span>

                            </h4>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Included</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">Unlimited

                                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="container-fluid">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 usage-info">
                                    <span class="usage-title" >Used</span>

                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 usage-info">
                                                        <span   class="">122
                                                            <span>mins</span>
                                                        </span>
                                </div>
                            </div>
                        </div>

                    </div>


                </section>



            </div>
        </div>

    </div>
</div>