<div class="  k-block k-inset" style="background-color: white">
    <div class="row">
        <div class="col-sm-11 " style="background-color: white;margin-left: 15px">
            <h3>Mobile Service</h3>
            <h4 style="display: inline;padding-bottom: 5px">John Doe, <h5 style="display: inline">
                Address: 255 Burning Grove Pines, Douglas City, California, 90926-6128, US</h5></h4>
            <div class="newlinepadding"></div>
            <div class="">
                <div class="col-sm-5  k-block k-inset"  style="  background-color: white; ">
                    <div class="fieldheader">
                        <h4 class="fieldheader">Service Information</h4>
                     </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Phone Number:</span>
                        <span class="fielddata">431-222-1222</span>
                    </div>

                    <div class="fieldlinesep">
                        <span class="fieldname">Status:</span>
                        <span class="fielddata">Active</span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Package:</span>
                        <span class="fielddata">Wireless Bundle</span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Primary Service:</span>
                        <span class="fielddata">Yes</span>
                    </div>

                    <div class="fieldlinesep">
                        <span class="fieldname">Secondary Service Count:</span>
                        <span class="fielddata">0</span>
                    </div>

                    <div class="fieldheader">
                        <h4>Service Alerts</h4>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Fair Usage Limit:</span>
                        <span class="fielddata">With in Limit</span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Active Tickets:</span>
                        <span class="fielddata">0</span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Pending Service Orders:</span>
                        <span class="fielddata">0</span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Failed Service Orders:</span>
                        <span class="fielddata">0</span>
                    </div>






                </div>
                <div class="  col-sm-6  k-block k-inset" style="background-color: white;margin-left:20px;  ">
                    <div class="fieldheader">
                        <h4>Contract</h4>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Contract Term:</span>
                        <span class="fielddata">One Year</span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldsingle">
                            <span class=" ">Contract Start:</span>
                            <span class="">12/05/2016</span>
                            <span class="">Contract End:</span>
                            <span class=" ">12/05/2017</span>
                        </span>

                    </div>

                    <div class="fieldlinesep">
                        <span class="fieldname">Dealer:</span>
                        <span class="fielddata">Xie</span>
                    </div>

                    <div class="fieldheader">
                        <h4>Promotions</h4>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldsingle">
                            <a href="#">Add $5LD Plan</a>
                        </span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldsingle">
                            <a href="#">Upgrade device $100 off</a>
                        </span>
                    </div>

                    <div class="fieldheader">
                        <h4>Charges</h4>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Monthly Charges:</span>
                        <span class="fielddata">$20</span>
                    </div>
                    <div class="fieldlinesep">
                        <span class="fieldname">Usage Charges:</span>
                        <span class="fielddata">$10</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="   col-sm-11  " style="background-color: white;margin-left: 15px">

            <div class="col-sm-11  k-block k-inset"  style="  background-color: white; ">
                <h4 class="fieldheader">Devices</h4>
                <div class="col-sm-1">
                    <div class="">
                        <img src="img/iphone6-plus-box-space-gray-2014.jpeg" height="75px" width="75px">

                    </div>



                </div>
                <div class="col-sm-4">

                    <div class="usage-info">SIM card:	Acme V3 NANOSIM</div>
                    <div class="usage-info">SIM number:	***************0855</div>
                    <div class="usage-info">Handset:	SAMSUNG GS6 EDGE PLUS BLK 32GB</div>
                    <div class="usage-info">IMEI:	***********3542</div>
                    <div class="usage-info">PUK:	****<button class="btn btn-xs">show PUK</button></div>
                </div>
                <div class="col-sm-4">
                    <div class=" "><a href="#">Change Phone Number</a></div>
                    <div class=" "><a href="#" >Change SIM</a></div>
                    <div class=" "><a href="#">Upgrade/Change Phone</a></div>
                    <div class=" "><a href="#">Reset Voicemail</a></div>

                </div>


            </div>
        </div>
    </div>




</div>