
<div class=" ">
    <div class="row">
        <div class="col-md-12">





                <div >
                    <uib-tabset active="active" class="tabbable-line">
                        <uib-tab index="0" heading="Overview">
                            <div ng-include="'partials/sd_overview.html'"></div>
                        </uib-tab>
                        <uib-tab index="1" heading="Subscriptions">
                            <div ng-include="'partials/subscriptions.html'"></div>
                        </uib-tab>
                        <uib-tab index="2" heading="Balances">
                            <div ng-include="'partials/balances.html'"></div>
                        </uib-tab>
                        <uib-tab index="3" heading="Orders">
                            <div ng-include="'partials/orders.html'"></div>
                        </uib-tab>
                        <uib-tab index="3" heading="Usage">
                            <div ng-include="'partials/orders.html'"></div>
                        </uib-tab>
                    </uib-tabset>

                </div>



        </div>
    </div>
</div>
