
<div  >
    <div class="row  k-block ">
        <div class=" col-sm-12 grid-divider">
            <div class="col-sm-2">

                    <div>
                        <div class="fieldsingle">
                            <span ng-bind="model.headerAcctData.Account.Contact[0].FirstName"></span>
                            <span ng-bind="model.headerAcctData.Account.Contact[0].LastName"></span>
                        </div>
                        <div class="fieldsingle">
                            <span ng-bind="model.headerAcctData.Account.Contact[0].Address"></span>

                        </div>
                        <div class="fieldsingle">
                            <span ng-bind="model.headerAcctData.Account.Contact[0].City"></span>
                            <span>, </span>
                            <span ng-bind="model.headerAcctData.Account.Contact[0].State"></span>
                            <span ng-bind="model.headerAcctData.Account.Contact[0].Zip"></span>
                        </div>
                        <div class="fieldsingle">TBD@cellcom.com</div>
                        <div class="fieldsingle">206-111-2222</div>
                    </div>


            </div>
            <div class="col-sm-2">
                <div>
                    <div class="col-sm-5">
                        <div class="">
                            <span>AccountNumber:</span>
                        </div>
                    </div>
                    <div class="col-sm-5 no-padding-col">
                        <div class="">
                            <span ng-bind="model.headerAcctData.Account.ID"></span>
                        </div>
                    </div>
                </div>


                <div class="col-sm-5">
                    <div class="">
                        <span>Status:</span>
                    </div>
                </div>
                <div class="col-sm-5 no-padding-col">
                    <div class="">
                        <span ng-bind="model.headerAcctData.Account.Status"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="">
                        <span>AccountType:</span>
                    </div>
                </div>
                <div class="col-sm-6 no-padding-col">
                    <div class="">
                        <span ng-bind="model.headerAcctData.Account.Type"></span>
                        <span>/</span>
                        <span ng-bind="model.headerAcctData.Account.SubType"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="">
                        <span>BillUnits:</span>
                    </div>
                </div>
                <div class="col-sm-5 no-padding-col">
                    <div class="">
                        <span ng-bind="model.headerAcctData.Account.BillUnitCount"></span>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="">
                        <span>Services:</span>
                    </div>
                </div>
                <div class="col-sm-5 no-padding-col">
                    <div class="">
                        <span ng-bind="model.headerAcctData.Account.ServiceCount"></span>
                    </div>
                </div>


                </div>

            <div class="col-sm-2">
                <div>
                    <div class="col-sm-6">
                        <div class="">
                            <span>Next Billing On:</span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding-col">
                        <div class="">
                            <span  ng-bind="model.headerAcctData.Account.BillUnit[0].CycleEndDate"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-sm-6">
                        <div class="">
                            <span>Billing Frequency:</span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding-col">
                        <div class="">
                            <span  ng-bind="model.headerAcctData.Account.BillUnit[0].Frequency"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-sm-6">
                        <div class="">
                            <span>Amount Due:</span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding-col">
                        <div class="">
                            <span  ng-bind="model.headerAcctData.Account.BillUnit[0].DueNow"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-sm-6">
                        <div class="">
                            <span>Due Date:</span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding-col">
                        <div class="">
                            <span  ng-bind="model.headerAcctData.Account.BillUnit[0].DueDate"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-sm-6">
                        <div class="">
                            <span>In Collections:</span>
                        </div>
                    </div>
                    <div class="col-sm-4 no-padding-col">
                        <div class="">
                            <span  ng-bind="model.headerAcctData.Account.BillUnit[0].InCollections"></span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-sm-5 no-padding-col">
                <div class="col-sm-5">
                    <div class="col-sm-5">
                        <div class="">
                            <span>Credit Class:</span>
                        </div>
                    </div>
                    <div class="col-sm-5 no-padding-col">
                        <div class="">
                            <span ng-bind="model.headerAcctData.Account.Conditions.CreditClass"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>