<div class="row">
    <div class="col-sm-12">

        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Search</legend>


                <div class="form-group">

                    <div class="col-md-5">
                        <input id="customerID" name="customerID"  type="search" placeholder="CustomerID" class="form-control input-md">
                    </div>

                    <div class="col-md-5">
                        <input id="accountNo" name="accountNo" type="search" placeholder="Account number" class="form-control input-md">
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group ">

                    <div class="col-md-5">
                        <select class="form-control  "  id="serviceIdentifierType"  >

                            <option value="MobileNumber">MobileNumber</option>
                            <option value="SIM">SIM</option>
                            <option value="IMEI">IMEI</option>
                        </select>
                    </div>

                    <div class="col-md-5">
                        <input id="serviceIdentifier" name="serviceIdentifier" type="search" placeholder="Service Identifier" class="form-control input-md">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-5">
                        <input id="firstName" name="firstName"  type="search" placeholder="First Name" class="form-control input-md">
                    </div>

                    <div class="col-md-5">
                        <input id="lastName" name="lastName" type="search" placeholder="Last Name" class="form-control input-md">
                    </div>
                </div>


                <div class="form-group">

                    <div class="col-md-5">
                        <input id="city" name="city"  type="search" placeholder="City" class="form-control input-md">
                    </div>

                    <div class="col-md-5">
                        <input id="zip" name="zip" type="search" placeholder="Zip" class="form-control input-md">
                    </div>
                </div>






                <!-- Button (Double) -->
                <div class=" ">
                    <div class="form-group  ">
                        <label class="col-md-4 control-label" for="Search"></label>
                        <div class="col-md-offset-7">
                            <button id="Search" name="Search" class="btn btn-success ">Search</button>
                            <button id="Cancel" name="Cancel" class="btn btn-danger ">Cancel</button>
                        </div>
                    </div>

                </div>

            </fieldset>
        </form>
    </div>
    <div class="col-sm-12">

        <kendo-grid options="model.searchOptions" style="font-size:11px;">
        </kendo-grid>




    </div>
</div>