<div>


    <div kendo-tree-view="treeHierarchy"
         k-data-source="model.acctTreeData"
         k-on-change="selectedItem = dataItem">
                <span  k-template>
                  {{dataItem.AccountNumber}}<span>,</span>
                    <span>
                      <span>{{dataItem.Description}}</span>
                      <span>,</span>
                      <span>{{dataItem.Services}}-Services</span>
                      <span>,</span>
                      <span>{{dataItem.Contact.FirstName}}</span>
                      <span> </span>
                      <span>{{dataItem.Contact.LastName}}</span>
                    <button class='k-button' >View Account</button>

                  </span>


    </div>
</div>