<div class=" ">
    <div class=" ">
        <div class=" ">

            <h5 style="text-align: center;font-weight: bold">Account Notes</h5>
            <p>
            <div>In-store Appointment: 3.00PM Wednesday</div>
            <div>Location: Quadstar Store - Northstar Mall </div>
            <div>IP Handset Pickup</div>
            </p>
        </div>
    </div>
    <div class=" ">
        <div class=" ">

            <h5 style="text-align: center;font-weight: bold">Bill Summary</h5>
            <p>
            <div class="col-sm-12 ">
                <label  class="col-sm-6">Previous Balance</label>
                <label  class="col-sm-4" >$163.95</label>
            </div>
            <div class="col-sm-12 ">
                <label  class="col-sm-6">Current Balance</label>
                <label  class="col-sm-4">$100.00</label>
            </div>
            <div class="col-sm-12 ">
                <label  class="col-sm-6">Adjustments/Payments</label>
                <label  class="col-sm-4">$0.00</label>
            </div>
            <div class="col-sm-12 ">
                <label  class="col-sm-6">Total Current Charges</label>
                <label  class="col-sm-4">$63.95</label>
            </div>

            </p>
        </div>
    </div>
    <div class=" ">
        <div class=" ">

            <h5 style="text-align: center;font-weight: bold">Customer Support</h5>
            <p>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Subject</th>
                    <th>Type</th>

                    <th>Created Date</th>
                    <th>Status</th>
                </tr>
                <tbody>
                <tr>
                    <td>Autopayment setup</td>
                    <td>Billing</td>

                    <td>5/Mar/16</td>
                    <td>Open</td>
                </tr>
                <tr>
                    <td>No Signal</td>
                    <td>Tech Support</td>

                    <td>25/Mar/16</td>
                    <td>Open</td>
                </tr>

                </tbody>
                </thead>
            </table>
            </p>
        </div>
    </div>
</div>