<div>
{{model.newContact}}
    <input type="text" class="form-control" ng-model="model.newContact.FirstName">
    <button class="btn btn-primary" ng-click="model.updateContact({newContact: model.newContact})">UpdateContact</button>

</div>