<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <title>Welcome to Kendo UI!</title>
    <link  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet">
    <!-- Common Kendo UI CSS for web and dataviz widgets -->
    <link href="public/assets/vendor/telerik/styles/kendo.common.min.css" rel="stylesheet" />
    <!-- Default Kendo UI theme CSS for web and dataviz widgets -->
    <link href="public/assets/vendor/telerik/styles/kendo.default.min.css" rel="stylesheet" />
    <style>
        .modal-overlay {
            position:absolute;
            z-index:9999;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color:#000;
            opacity: 0.8;
        }
        .modal-background {
            z-index:10000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;

        }
        .modal-content {
            padding:10px;
            text-align: center;
        }
        .modal-close {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: 5px;
            cursor: pointer;
            display: inline-block;
        }

        .modal-blackout {
            position: absolute;
            top:0;
            left:0;
            background-color: rgba(0,0,0, 0.6);
            z-index:10;

        }
        .modal-container {
            padding: 20px;
            position: absolute;
            box-shadow: 0px 2px 7px #292929;
            border-radius: 10px;
            background-color: #f2f2f2;
            border: 1px solid #fff;
            z-index: 50;
        }
        .modal-close {
            position: relative;
            top: -18px;
            left:50px;
            float:right;
            display:block;
            height: 50px;
            width: 50px;
        }
    </style>
</head>
<body ng-app="myApp"  >

<div  ng-controller="ModalControllerDemo" class="container" style="padding-top:30px">
    <h1>Modal Sample</h1>
    <a ng-click="openModal()">Click Here</a>
    <modal open="modalOpen" options="{top:35, height:300}" on-close="modalClosed(response)">
        <div class="panel panel-primary" ng-controller="ModalController">
            <div class="panel-heading">Are you sure?</div>
            <div class="panel-body">
                <div class="btn-success" ng-click="close('yes')">Yes</div>
                <div class="btn-success" ng-click="close('no')">No</div>
            </div>
        </div>
    </modal>
</div>
<div ng-controller="transcludeCtrl" class="container" style="padding-top:30px">
    <my-transclude>
       <div ng-repeat="item in items">
           {{item}}
       </div>
    </my-transclude>
</div>


<div class="jumbotron" >
     {{ 1 + 2}}
</div>
<hello-simple-directive></hello-simple-directive>

<div ng-controller='ModalCtrl'>
    <button ng-click='toggleModal()'>Open Modal</button>
    <modal-window show='modalShown' width='400px' height='60%'>
        <p>Hello Simple Modal Window<p>
    </modal-window>
</div>
<div ng-controller="mainCtrl">
    <user-info-card user="user" collapsed="false">


    </user-info-card>

    <user-info-card user="user1"  collapsed="true">

    </user-info-card>
</div>

<div ng-controller="decoratorCtrl" class="container" style="padding-top:30px">
    <video id="vid" spacebar-support controls preload="none" event-pause="handlePause(evt)" poster="http://media.w3.org/2010/05/sintel/poster.png">
        <source src="http://w3schools.com/html/movie.mp4" type="video/mp4">
    </video>
    <div ng-repeat="message in messages">
        {{message.text}}
    </div>
</div>


<script   src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
<!-- Load up the router library - normally you might use npm and host it locally -->
<script src="https://npmcdn.com/@angular/router@0.2.0/angular1/angular_1_router.js"></script>
<!-- Kendo UI combined JavaScript -->
<script src="public/assets/vendor/telerik/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.2/ui-bootstrap-tpls.js"></script>


<script src="scripts/app.js"></script>
<script src="temp/helloSimpleDirective.js"></script>
<script src="temp/modalWindowDirective.js"></script>
</body>

</html>