<nav class="navbar navbar-default" style="margin-bottom: 0px">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Accu Bill</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li ng-class="{active:isActive('#/dashboard')}"><a ng-link="['Dashboard']">Dashboard<span class="sr-only">(current)</span></a></li>
                <li ng-class="{active:isActive('#/customer')}"><a ng-link="['Customer']">Customers<span class="sr-only">(current)</span></a></li>
                <li ng-class="{active:isActive('#/inventory')}"><a href="#/inventory">Inventory<span class="sr-only">(current)</span></a></li>
                <li ng-class="{active:isActive('#/pricing')}"><a href="#/pricing">Pricing<span class="sr-only">(current)</span></a></li>

                <li ng-class="{active:isActive('#/dealers')}"><a href="#/dealers">Dealers<span class="sr-only">(current)</span></a></li>
                <li ng-class="{active:isActive('#/leads')}"><a href="#/leads">Sales<span class="sr-only">(current)</span></a></li>
                <li ng-class="{active:isActive('#/analytics')}"><a href="#/analytics">Analytics<span class="sr-only">(current)</span></a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

                <form class="navbar-form navbar-left" role="search">
                    <button class="btn btn-sm btn-success" ng-click="model.openSearch()">Advanced Search</button>
                    <div class="form-group form-group-sm">

                        <select class="form-control ">
                            <option>Search By</option>
                            <option>PrimaryID</option>
                            <option>Account Number</option>
                            <option>DeviceID</option>
                            <option>Email</option>
                            <option>MacID</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Search">

                    </div>

                </form>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">John <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">My Permissions</a></li>
                        <li><a href="#">Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>