
<div class="col-sm-12 k-block">
    <div kendo-list-view
             k-data-source="model.paymentData.Payments" k-selectable=true>
            <div class="  " k-template>
                <div class="row">
                        <div class="col-sm-12">
                            <h4>Payment Amount:
                                <span  ng-bind="dataItem.PaymentAmount"></span>
                                <span>Date:</span>
                                <span  ng-bind="dataItem.PaymentDate"></span>

                            </h4>
                            <h5>
                                <span>Source:</span>
                                <span  ng-bind="dataItem.PaymentSource"></span>
                                <span>-</span>
                                <span  ng-bind="dataItem.PaymentDescription"></span>

                            </h5>


                        </div>
                    </div>
            </div>
    </div>
</div>