<div data-kendo-tab-strip="accountTab"  k-data-text-field="'text'"
     k-data-content-field="'content'"  k-data-url-field = "'url'"
     k-data-content-url-field="'contentUrl'"     k-show="model.onShow" >
    <!-- tab list -->
    <ng-outlet></ng-outlet>

    <!--  <div style="padding: 1em">
          <div kendo-window="searchWindow" k-title="'Search Accounts'"
               k-visible="false" k-width="600"
               k-on-open="searchWindowvisible = true" k-on-close="searchWindowvisible = false">
              <search  open-account-tab="model.openAccountTab(accountData)"></search>
          </div>

      </div>-->

</div>
