<a class="k-button k-button-icontext k-add-button" href="#"><span class="k-icon k-add"></span>Create New Note</a>

<div kendo-list-view
     k-data-source="model.notes.Notes" k-selectable=true>
    <div class="col-sm-12 padrl5 k-block k-info" k-template>
        <div class="">

           <div>
               {{dataItem.Type}}

                    <span class="pull-right">
                        {{dataItem.CreatedTime}}
                    </span>

           </div>
            <p></p>
            <div>
                <p  >
                    {{dataItem.Text}}
                </p>
            </div>

        </div>


    </div>
</div>