<h5 style="">Account Balances</h5>

<div>
    <kendo-grid options="model.balanceGridOptions" style="font-size:11px;">
    </kendo-grid>
</div>
<div  >

    <button type="button" class="btn btn-primary pull-right ">Adjust Balance</button>

</div>
