
<cc-navbar affixed='affixed'></cc-navbar>

<div class="container-fluid">
    <ng-outlet></ng-outlet>
</div>

<div kendo-window="searchWindow" k-title="'Search Accounts'"
     k-visible="false" k-width="600"
     k-on-open="searchWindowvisible = true" k-on-close="searchWindowvisible = false">
    <search  open-account-tab="model.openAccountTab(accountData)"></search>
</div>