
.hr {
    display: block;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Tablet and bigger */

.grid-divider {
    position: relative;
    padding: 0;
}
.grid-divider>[class*='col-'] {
    position: static;
}
.grid-divider>[class*='col-']:nth-child(n+2):before {
    content: "";
    border-left: 2px solid #5589dd;
    position: absolute;
    top: 0;
    bottom: 0;
}
.col-padding {
    padding: 0 5px;
}

.info {
    display: block;
    max-width: 100%;
    font-weight: bold;
    margin-left: 15px;
    font-size: 85%;
}
.info_inline {


    font-weight: bold;
}
.newline {
    margin-top: 5px;
}
.info .fieldvalue{
    padding-left: 5px;
    font-style: normal;
    font-weight: normal;
}

.padrl5 {
    padding-right: 5px;
    padding-left: 5px;
}
.padrl10 {
    padding-right: 10px;
    padding-left: 10px;
}

.no-padding-col {
    padding: 0px;
}


.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}

.usage-info {
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #dde4e6;
}

.usage-title {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
}

.usage-amount {
    font-weight: 600;
    font-size: 15px;
    padding-right: 8px;
    text-align: right;
    float: right;
}

.type-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin: 10px 0 6px;
    text-transform: uppercase;
}

.paddbot60 {
    padding-bottom: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.info-summary {


    line-height: 1.428571429;
    color: #858585;
    padding-left: 10px;
    padding-right: 10px;

}

.cls-btn
{
    position: absolute;
    top : -3px;
    right: -3px;
    background-color:red;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    z-index: 9999999;
}

.vertical-btngrp-spacing {
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid #dde4e6;
}
.wrapper {
    border: 1px #e4e4e4 solid;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
    background-color: #fff;
    height: 100%;
}

.fieldheader {
    padding-left: 10px;
    padding-right: 5px;
    text-decoration: underline;

}
.fieldlinesep {
    padding-top: 1px;
    padding-bottom: 1px;


}
.fieldsingle {
    padding-left: 12px;
    padding-right: 5px;

    font-size: 0.90em;


}
.fieldname {
    padding-left: 12px;
    padding-right: 5px;
    min-width: 150px;
    font-size: 0.90em;
    float:left;

}
.fielddata {
    padding-left: 10px;
    padding-right: 5px;
    min-width: 30px;
    font-size: 0.90em;
}
.newlinepadding {
    padding-bottom: 2px;
    padding-top: 2px;
}




.k-dropdown .k-dropdown-wrap{
    height: 47px;
}



/* required for uib-tabset styling */
/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
    border:1px solid #eee;
    padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
    border: none;
    margin: 0px;
}
.tabbable-line > .nav-tabs > li {
    margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
    border: 0;
    margin-right: 0;
    color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #f3565d;
    position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
    border: 0;
    color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
    color: #404040;
}
.tabbable-line > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}
.tabbable-line > .tab-content {
    padding-bottom: 0;
}
/** end tabstyling ***/