<div>

    <div kendo-list-view
         k-data-source="model.billingData.BillUnit" k-selectable=true>
        <div class="  " k-template>
            <div class="col-sm-12 k-block">
                <div class=" ">

                    <div class="col-sm-5">
                        <span>Billing Unit</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.ID"></span>
                    </div>
                </div>
                <div class=" ">
                    <div class="col-sm-5">
                        <span>PreAuthorized Payment</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.PreAuth"></span>
                    </div>
                </div>
                <hr class="hr">

                <div class=" ">
                    <div class="col-sm-5">
                        <span>Previous Due:</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.PreAuth"></span>
                    </div>
                </div>
                <div class=" ">
                    <div class="col-sm-5">
                        <span>Current Billed:</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.PreAuth"></span>
                    </div>
                </div>
                <div class=" ">
                    <div class="col-sm-5">
                        <span>UnApplied Payments:</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.PreAuth"></span>
                    </div>
                </div>
                <div class=" ">
                    <div class="col-sm-5">
                        <span>UnApplied Adjustments:</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.PreAuth"></span>
                    </div>
                </div>

                <div class=" ">
                    <div class="col-sm-5">
                        <span>Total Due:</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.PreAuth"></span>
                    </div>
                </div>

                <div class=" ">
                    <div class="col-sm-5">
                        <span>Current Unbilled Charges:</span>
                    </div>
                    <div class="col-sm-5">
                        <span ng-bind="dataItem.PreAuth"></span>
                    </div>
                </div>
                <hr class="hr">


                <div>
                    <kendo-grid options="dataItem.billingGridOptions" style="font-size:11px;">
                    </kendo-grid>
                </div>


            </div>
        </div>
    </div>
</div>