{{model.serviceProductsData}}
<div class="row">

    <div class="col-sm-12 padrl10">

        <div class=" k-block k-info-colored">
            <h5>Plans</h5>
            <kendo-grid options="productGridOptions" style="font-size:12px;">

            </kendo-grid>

        </div>
        <div class=" k-block k-info-colored">
            <h5>Addons</h5>
            <kendo-grid options="productGridAddonOptions" style="font-size:12px;">

            </kendo-grid>

        </div>
    </div>
    <div class="col-sm-3 padrl10">
        <div class=" k-block k-info-colored">
            <h5>Devices/Accessories</h5>
        </div>

    </div>
</div>