
<div ng-show="!!user.address && !collapsed" ng-click="collapseAddress()">
    Address: <br>
    <ul>
        <li ng-bind="user.address.street"></li>
        <li ng-bind="user.address.city"></li>
        <li ng-bind="user.address.planet"></li>
    </ul>
</div>

<div ng-show="!!user.address && collapsed" ng-click="expandAddress()">
    <h4>Address:</h4>
    {{user.address.planet}}...
</div>