<div class="panel panel-primary">
    <div class="panel-heading">Grant Jedi Knight</div>
    <div class="panel-body">
        <p>Do you want to grant Jedi Knight rank to {{user.name}}</p>
        <button class="btn btn-success" ng-click="yes()">Yes</button>
        <button class="btn btn-danger" ng-click="no()">No</button>
    </div>
</div>