
<div >



    <uib-tabset active="active"  class="tabbable-line">
        <uib-tab  heading="Overview">
            <div ng-include="'app/customer.detail/customer.detail-overview.html'"></div>
        </uib-tab>
        <uib-tab   ng-repeat="tab in model.tabs" heading="{{tab.title}}" active="tab.active" >
            <div ng-include="tab.content"></div>

        </uib-tab>
    </uib-tabset>


</div>