<div class="row">
    <div class="col-sm-3">
        <div class="k-block">
            <h3>Primary Contact</h3>
            <div>
                <span ng-bind="model.customerData.Customer.Contact.FirstName"></span>
                <span ng-bind="model.customerData.Customer.Contact.LastName"></span>
            </div>
            <div>
                <span ng-bind="model.customerData.Customer.Contact.Address"></span>

            </div>
            <div>
                <span ng-bind="model.customerData.Customer.Contact.City"></span>
                <span>,</span>
                <span ng-bind="model.customerData.Customer.Contact.County"></span>
            </div>
            <div>
                <span ng-bind="model.customerData.Customer.Contact.State"></span>
                <span>,</span>
                <span ng-bind="model.customerData.Customer.Contact.Zip"></span>
            </div>

        </div>
    </div>
    <div class="col-sm-8">
        <div class="k-block">
            <div kendo-list-view
                 k-data-source="model.customerData.Customer.Account" k-selectable=true>
                <div class="  " k-template>
                    <div class="">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>AccountNumber:
                                    <span  ng-bind="dataItem.ID"></span>
                                    <span>Type:</span>
                                    <span  ng-bind="dataItem.Type"></span>
                                    <span>/</span>
                                    <span  ng-bind="dataItem.SubType"></span>
                                </h4>
                                <h5>
                                    <span>Status:</span>
                                    <span  ng-bind="dataItem.Status"></span>
                                    <span>BillUnits:</span>
                                    <span  ng-bind="dataItem.BillUnitCount"></span>
                                    <span>Services:</span>
                                    <span  ng-bind="dataItem.ServiceCount"></span>
                                </h5>

                            </div>
                            <div class="col-sm-5">

                                <h5>Primary Contact</h5>
                                <div>
                                    <span ng-bind="dataItem.Contact.FirstName"></span>
                                    <span ng-bind="dataItem.Contact.LastName"></span>
                                </div>
                                <div>
                                    <span ng-bind="dataItem.Contact.Address"></span>

                                </div>
                                <div>
                                    <span ng-bind="dataItem.Contact.City"></span>
                                    <span>,</span>
                                    <span ng-bind="dataItem.Contact.County"></span>
                                </div>
                                <div>
                                    <span ng-bind="dataItem.Contact.State"></span>
                                    <span>,</span>
                                    <span ng-bind="dataItem.Contact.Zip"></span>
                                </div>

                            </div>
                            <div class="col-sm-5">
                                <h5>
                                    <span>Current Balance:</span>
                                    <span>
                                        <span ng-bind="dataItem.BillUnit.CurrentBalance"></span>
                                        <span>Due Date:</span>
                                        <span ng-bind="dataItem.BillUnit.DueDate"></span>
                                    </span>
                               </h5>
                                <div>
                                    <a  class="     " ng-click="model.openAccount(dataItem.ID)">
                                        View Account Details</a>
                                </div>

                            </div>

                        </div>





                    </div>


                </div>
            </div>



        </div>
    </div>
</div>