<div class="row">
    <div class="col-sm-4 no-padding-col">
        <div class="k-content">
            <div kendo-tab-strip k-content-urls="[ null, null]"    k-options="model.tabStripOptions">
                <!-- tab list -->
                <ul>
                    <li class="k-state-active">Summary</li>
                    <li>Notes/Tickets</li>
                    <li class="">Balances</li>
                    <li class="">Billing</li>
                    <li>Payments</li>
                    <li >Hierarchy</li>
                    <li >Conditions</li>

                </ul>
                <div style="padding: 1em">

                    <account-summary>

                    </account-summary>
                </div>
                <div style="padding: 1em">

                    <account-note account-data="model.accountData"></account-note>
                </div>

                <div style="padding: 1em">
                    <account-balance account-data="model.accountData"></account-balance>

                </div>

                <div style="padding: 1em">
                    <account-billing account-data="model.accountData"></account-billing>
                </div>

                <div style="padding: 1em">
                    <account-payments account-data="model.accountData"></account-payments>
                </div>
                <div style="padding: 1em">
                    <account-hierarchy account-data="model.accountData"></account-hierarchy>
                </div>
                <div style="padding: 1em">
                    <account-conditions account-data="model.accountData"></account-conditions>
                </div>



            </div>
        </div>
    </div>
    <div class="col-sm-8 no-padding-col">
        <service account-data="model.accountData"></service>

    </div>
</div>

