
<div data-kendo-tab-strip="customerTab"  k-data-text-field="'text'"
     k-data-content-field="'content'"  k-data-url-field = "'url'"
     k-data-content-url-field="'contentUrl'"      >
    <!-- tab list -->
    <ng-outlet></ng-outlet>
</div>
