<h5>Credit Conditions</h5>
<div class="col-sm-12">
    <div class="col-sm-5">
        <span>Credit Class:</span>
    </div>
    <div class="col-sm-5">
        <span ng-bind="model.conditionsData.Conditions.CreditClass"></span>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-5">
        <span>Total Credit Limit:</span>
    </div>
    <div class="col-sm-5">
        <span ng-bind="model.conditionsData.Conditions.CreditLimit"></span>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-5">
        <span>Max Services:</span>
    </div>
    <div class="col-sm-5">
        <span ng-bind="model.conditionsData.Conditions.MaxServices"></span>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-5">
        <span>Max Secondary Services:</span>
    </div>
    <div class="col-sm-5">
        <span ng-bind="model.conditionsData.Conditions.MaxSecondaryServices"></span>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-5">
        <span>Max Secondary Services Per Primary:</span>
    </div>
    <div class="col-sm-5">
        <span ng-bind="model.conditionsData.Conditions.MaxSecondaryServicePerPrimary"></span>
    </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-5">
        <span>Max Secondary Services Per Primary:</span>
    </div>
    <div class="col-sm-5">
        <span ng-bind="model.conditionsData.Conditions.MaxSecondaryServicePerPrimary"></span>
    </div>
</div>
<div>
    <h5>Limits:</h5>
    <div ng-repeat="o in model.conditionsData.Conditions.ServiceLimits">

        <div class="col-sm-12">
            <div class="col-sm-5">
                <span ng-bind="o.Type"></span>
            </div>
            <div class="col-sm-5">
                <span ng-bind="o.Limit"></span>
            </div>
        </div>
    </div>
</div>

<div>
    <h5>Bill Shock Notifications</h5>

</div>

