<h1>Dashboard</h1>
<div class="row">
    <div class="col-sm-6 k-block" >
        <h1>CSR Outstanding Actions</h1>
    </div>

    <div class="col-sm-6 k-block">
        <h1>CSR Call History and Notes</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 k-block" >
        <h1>Search Options</h1>
        <h1>Other Shortcuts</h1>
    </div>

    <div class="col-sm-6 k-block">
        <h1>Promotions</h1>
    </div>
</div>