<div class=" ">
    <div class="row">
        <div class="col-md-12">




            <div >
                <uib-tabset active="active" class="tabbable-line">
                    <uib-tab index="0" heading="Overview">
                        <service-details-overview service-details-data="model.serviceDetailsData"></service-details-overview>
                    </uib-tab>
                    <uib-tab index="1" heading="Subscriptions">
                        <service-detail-subscriptions account-id="{{model.accountId}}" service-id="{{model.serviceId}}">

                        </service-detail-subscriptions>
                    </uib-tab>
                    <uib-tab index="2" heading="Balances">
                        <service-detail-balances account-id="{{model.accountId}}" service-id="{{model.serviceId}}"></service-detail-balances>
                    </uib-tab>
                    <uib-tab index="3" heading="Orders">
                        <service-detail-orders  account-id="{{model.accountId}}" service-id="{{model.serviceId}}"></service-detail-orders>
                    </uib-tab>
                    <uib-tab index="4" heading="Usage">
                        <service-detail-usage  account-id="{{model.accountId}}" service-id="{{model.serviceId}}"></service-detail-usage>
                    </uib-tab>
                </uib-tabset>

            </div>



        </div>
    </div>
</div>
