.navbar-default {
  background-color: #29b6d8;
  border-color: #1a4b28; }
  .navbar-default .navbar-brand {
    color: #fbfbfb; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #c3bacc; }
  .navbar-default .navbar-text {
    color: #fbfbfb; }
  .navbar-default .navbar-nav > li > a {
    color: #fbfbfb; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #c3bacc; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #c3bacc;
    background-color: #1a4b28; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #c3bacc;
    background-color: #1a4b28; }
  .navbar-default .navbar-toggle {
    border-color: #1a4b28; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #1a4b28; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fbfbfb; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #fbfbfb; }
  .navbar-default .navbar-link {
    color: #fbfbfb; }
    .navbar-default .navbar-link:hover {
      color: #c3bacc; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfbfb; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #c3bacc; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c3bacc;
    background-color: #1a4b28; } }

/*# sourceMappingURL=navbar.css.map */
